<div>
	<body BGCOLOR="#FFFFFF" TEXT="#000000"  >
		
		<table style="width:100%" border = "0">
		  <tr>
		  	<td>id</td>
		    <td>college_name</td>
		    <td>esta_year</td>
		    <td>actions</td>
		  </tr>
		 <% @colleges.each do |colleges| %>
			<tr>
				<td><%= colleges.id %> </td> 
				<td><%= colleges.college_name %> </td> 
				<td><%= colleges.esta_year %></td>
			    <td><%= link_to "show" ,college_path(colleges),method: "get" %>/<%= link_to "edit" ,edit_college_path(colleges), method: :get %>/<%= link_to "delete",college_path(colleges), method: :delete,
				    :confirm => 'Are you sure?' %>/<%= link_to "students" ,listing_colleges_path(colleges), method: :get %></td>
			</tr>
			<% end %>
		</table>
		<p><%= link_to "new" , action: "new" %></p>
		<p><%= link_to "DoQueries" %></p>
		<p>
			<%= form_for :temp,url: {action: "results"}, method: :get  do |f|%>
				search: <%= f.text_field :vars %>

				<%= f.submit :search %>
			<% end %>
		</p>
	</body>
</div>





