<div>
	<%= form_for :colleges, url: {action: "create", controller: "colleges"},  method: "post" do |f|%>

			<%= f.label :college_name %>
			<%= f.text_field :college_name %><br />

			<%= f.label :esta_year %>
			<%= f.text_field :esta_year %><br />

			<%= f.submit %>

		<% end %>
</div>

